html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MusicLovers-API
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500")
        style 
            include style.css
        
    body 
        .container
            .image-container
                img(src="/public/assets/server-running.gif", alt="Server is running")
            p #{message}
            .button-container 
                a.button(href="#") Add Song
                a.button(href="#") Add Artist
                

